.footer {
    display: flex;
}

.logo {
    width: 50%;
}
.pageLinks {
    width: 50%;
}

.pageAttributes{
    width: 50%;
    display: flex;
}

.links {
    width: 50%;
    display: flex;
}

.link {
    margin: 0 5px;
    cursor: pointer;
}

.link:hover {
    color: #5874cb;
}

.subscribe {
    width: 50%;
    display: flex;
}