.navbar {
    width: 100%;
    padding: 16px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
}

.logo {
    color: #fff;
    font-weight: 500;
}

.navlink {
    font-weight: 600;
    margin: 0 5px;
    cursor: pointer;
    letter-spacing: .5px;
}

.navlinks {
    display: flex;
    align-items: center;

}

.hamburgerMenu {
    display: none;
}

.bar {
    height: 1px;
    background: #fff;
    width: 100%;
}

.navlink:hover {
    color: #3c64c4;
}

.mobileMenu {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobileNavLinks {
    
}


@media screen and (max-width: 1280px) {
    .hamburgerMenu {
        height: 15px;
        width: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index:2;
    }
    .navlinks {
        display: none
    }

    .navlink {
        margin: 25px 0;
        font-size: 20px;
    }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {

}