.footer {
    height: 150px;
    width: 100%;
    display: flex;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
}
.pageLinks {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageAttributes{
    width: 50%;
    display: flex;
}

.links {
    width: 50%;
    display: flex;
}

.link {
    margin: 0 5px;
    cursor: pointer;
}

.link:hover {
    color: #5874cb;
}

.subscribe {
    width: 50%;
    display: flex;
}

.subscribe input {
    outline: none;
}
/* Phones */
@media only screen and (max-width: 600px) {

}